@use './partials/variables' as *;
@use './partials/header.scss';
@use 'bootstrap/scss/bootstrap.scss';

/***********************************************************************************/
/* Roole */


.c_primary {
	color: $primary_color;
}

.c_text_light {
	color: gray;
}

.c_text_dark {
	color: $dark
}

.c_btn_courses {
	color: $btn_courses;
}

.btn_primary {
	background-color: $primary_color;
	color: $bg_input;
}

/***********************************************************************************/
/* DEBUG */

.debug * {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border: 1px dashed black;
}

.debug .bg_top_footer {
	height: 300px;
}




/***********************************************************************************/
/* Button on All page right */

.demos,
.on_sale {
	position: fixed;
	right: 20px;
	top: 130px;
	background-color: $lighter;
	color: $dark;
	height: 70px;
	width: 70px;
	box-shadow: 10px 5px 5px $bg_header-footer;

	& i {
		font-size: 25px;
	}

	& div {
		font-size: 12px;
	}

	.price_green {
		color: $primary_color;
		font-size: 25px;
	}
}

.on_sale {
	top: 205px;
}



/***********************************************************************************/

header {

	.bg_top {
		background-color: $bg_header-footer;
		color: $bg_input;

		.header_top {
			font-size: 15px;
		}
	}
}

.nav_bar {

	width: 100%;

	& a {
		text-decoration: none;
		color: $bg_input;
		padding: 0 2rem;

		.btn_green_nav {
			font-size: 15px;
		}
	}
}

/***********************************************************************************/

main {

	.jumbotrone {

		background-image: url(../../../public/img/homepage-hero-background.jpg);
		height: 800px;

		.title_jumbo {
			color: $lighter;

			& h1 {
				font-size: 55px;
			}
		}

	}

	/* Registration ********************************************/

	.registration {
		height: 580px;

		.text_registration {
			height: 580px;
		}

		.card_form_registration {

			right: 0px;
			top: -50px;
			background-color: $lighter;
			box-shadow: -7px 7px 20px 0px #8a99a4;

			.title_form {
				color: $primary_color;

			}

			& p {
				max-width: 400px;
			}

			.form_registration {
				height: 400px;
				width: 500px;

				.bg_input {
					background-color: $bg_input;
				}

				.btn_registration {
					background-color: $primary_color;
					color: $bg_input;
					font-size: 12px;

				}
			}
		}
	}

	/* Call ********************************************/

	.call {
		background-image: url(../../../public/img/horizontal-cta-background.jpg);

		.call_section {
			height: 300px;

			& h3 {
				font-size: 40px;
			}
		}
	}

	/* Courses ********************************************/


	.courses {
		height: 600px;
		background-image: url(../../../public/img/promise-background.jpg);
		background-position: bottom;
		background-size: cover;

		.card_courses {
			height: 380px;
			width: 420px;
			top: -50px;
			left: 0px;
			background-color: $lighter;
			box-shadow: 10px 8px 20px 0px #8a99a4;


			& img {
				width: 80px;
			}
		}

		& img {
			width: 150px;
		}

		.btn_courses {
			font-size: 12px;
		}
	}

	/* Rate ********************************************/


	.rate {
		height: 500px;

		.card_rate {
			box-shadow: 0px -8px 0px 0px $primary_color;
			height: 400px;
		}

		.shadow_bottom {
			box-shadow: 0px 10px 20px 0px#8a99a4;
		}

		.rate_1 {
			width: 100%;
			height: 300px;
			font-size: 60px;
		}
	}

	/* Instructor ********************************************/

	.instructors {

		height: 650px;

		& button {
			padding: 0.5rem 9rem;
			font-size: 12px;
		}

		.card_instructor {
			box-shadow: 0px -8px 0px 0px $primary_color;
			height: 500px;

			& img {
				width: 80%;
			}
		}

		.card_instructor_central {
			box-shadow: 0px -8px 0px 0px $primary_color;
			height: 530px;

			& img {
				width: 80%;
			}
		}

		.shadow_bottom {
			box-shadow: 0px 10px 20px 0px#8a99a4;
		}

		.name_instructor {
			font-size: 20px;
			color: $dark;
		}
	}

	/* Testimonials ********************************************/


	.testimonials {
		background-image: url(../../../public/img/testimonial-background.jpg);
		background-size: cover;
		background-position-y: -200px;
		height: 910px;


		.empty_space {
			height: 260px;
		}

		& img {
			width: 120px;
		}

		.box_testimonials {
			max-width: 800px;
		}
	}


	/* Latest News ********************************************/


	.news {
		background-image: url(../../../public/img/latestnews-background.jpg);
		background-size: cover;
		background-position-y: -200px;
		height: 1000px;


		.card_news {
			width: 100%;
			height: 800px;
			background-color: $lighter;
			top: -40px;
			box-shadow: 0px -8px 0px 0px $btn_courses;


			.box_latest_news {


				& img {
					width: 600px;
				}

				& span {
					font-size: 12px;
				}
			}
		}

		.box_news_arrow {
			width: 100%;
			top: 760px;

			& img {
				width: 100%;
			}
		}

		& button {
			padding: 0.5rem 2rem;
			font-size: 14px;
		}
	}

	/* Newsletter ********************************************/

	.newsletter {
		background-image: url(../../../public/img/newsletter_background.jpg);
		background-size: cover;
		height: 400px;

		& input {
			width: 600px;
		}

		& button {
			width: 600px;
		}

		& h6 {
			font-size: 12px;
		}


	}



}

/***********************************************************************************/

footer {

	.bg_top_footer {
		background-color: $bg_header-footer;
	}

	.bottom_footer {
		background-color: $dark;
		height: 150px;
		font-size: 12px;
	}
}