@use './partials/variables' as *;
@use './partials/header.scss';
@use 'bootstrap/scss/bootstrap.scss';



* {
	border: 1px solid black;
}

header {

	.header_top {
		background-color: $bg_header-footer;
		height: 30px;
	}
}


main {
	background-color: $primary_color;
}


footer {
	background-color: $bg_input;
}