@use './partials/variables' as *;
@use './partials/header.scss';
@use 'bootstrap/scss/bootstrap.scss';






/***********************************************************************************/
/* DEBUG */

.debug * {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border: 1px dashed black;
}

.debug .registration,
.courses,
.rate,
.instructors,
.testimonials,
.news,
.bg_top_footer {
	height: 300px;
}

.debug .call,
.newsletter {
	height: 150px;
}


/***********************************************************************************/

.demos,
.on_sale {
	position: fixed;
	right: 20px;
	top: 130px;
	background-color: $lighter;
	color: $dark;
	height: 70px;
	width: 70px;


	& i {
		font-size: 25px;
	}

	& div {
		font-size: 12px;
	}

	.price_green {
		color: $primary_color;
		font-size: 25px;
	}
}

.on_sale {
	top: 205px;
}



/***********************************************************************************/

header {

	.bg_top {
		background-color: $bg_header-footer;
		color: $bg_input;

		.header_top {
			font-size: 15px;
		}
	}
}

.nav_bar {

	width: 100%;

	& a {
		text-decoration: none;
		color: $bg_input;
		padding: 0 2rem;

		.btn_green_nav {
			font-size: 15px;
		}
	}

	.btn_green_nav {
		background-color: $primary_color;
		color: $bg_input;
	}
}

/***********************************************************************************/

main {

	.jumbotrone {

		background-image: url(../../../public/img/homepage-hero-background.jpg);
		height: 800px;

		.title_jumbo {
			color: $lighter;

			& h1 {
				font-size: 55px;
			}
		}

	}




}

/***********************************************************************************/

footer {

	.bg_top_footer {
		background-color: $bg_header-footer;
	}

	.bg_bottom_footer {
		background-color: $dark;
	}
}